.navlogo {
  float: left;

}

.navmenu {
  float:right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

li {
    display: inline;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    color: #e10883;
    text-decoration: none;
}

.image {

  background-image: url(../img/header1.jpg);
  height: 350px;
  /*background-repeat: no-repeat;
  background-size: 100%;*/
}

h1 {
   position: absolute; 
   top: 150px; 
   text-align: center;
   width: 100%; 
   color: white;
}


.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}




a:hover{
  text-decoration: none;
}


.overlay, .overlay2, .overlay3, .overlay4 {
  display: inline-block;
  height: 215px;
  width: 100%;
  background-color: rgba(0,0,0, 0); 
}

.overlay5 {
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0, 0); 
}




.overlay.on, .overlay2.on, .overlay3.on, .overlay4.on, .overlay5.on { 
  background-color: rgba(0,0,0, 0.5); 
}


.message1, .message2, .message3, .message4 {
  text-align: center;
  color: #fff;
  font-size: 36px;
  text-align: center;
  text-decoration: none;
  padding-top: 75px;
  opacity: 0;

}

.message5 {
  text-align: center;
  color: #fff;
  font-size: 36px;
  text-align: center;
  text-decoration: none;
  padding-top: 200px;
  opacity: 0;

}



.showmessage {
  opacity: 1;
  
}

#project1 {
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400/6b374c45019993.5824d7c4504fe.jpg");
  height: 215px;
  display: block;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

#project1:hover:after {
    opacity: 1;
}

#project2 {
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/600ce929590897.55fa1a5eb2358.jpg");
  height: 215px;
  display: block;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-image: cover;

}

#project3 {
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/disp/1c170445020661.5824f455719c5.png");
  height: 215px;
  display: block;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;

}

#project4 {
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/disp/226eb129591109.5824f52285bea.png");
  height: 215px;
  display: block;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;

}

#project5 {
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/01a92545021243.5824ddc434224.jpg");
  height: 430px;
  display: block;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;

}


/*For the Prtfolio Page*/ 

.active {
  color: #e10883;
}
#project6 {
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/13352c29590897.55fa1a5eb4573.jpg");
  height: 300px;
  display: block;
  background-repeat: no-repeat;
  background-size: 100%;
}
#project7 {
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400/16c1b245019993.5824d7c4b2290.jpg");
  height: 300px;
  display: block;
  background-repeat: no-repeat;
  background-size: 100%;
}
#project8 {
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/9fab9745020661.5824daaca733d.jpg");
  height:300px;
  display: block;
  background-repeat: no-repeat;
  background-size: 100%;

}

#project9 {
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400/4ad23845019063.5824d4df45dfe.jpg");
  height: 300px;
  display: block;
  background-repeat: no-repeat;
  background-size: 100%;
}

#project10 {
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/disp/226eb129591109.5824f52285bea.png");
  height: 300px;
  display: block;
  background-repeat: no-repeat;
  background-size: 100%;
}




.contact {
  background-color: black;
  color: white;
  height: 180px;
  padding: 10px;
}

#contactme {
  padding: 50px;
}

#contactbutton {
  background-color: #e10883;
  color: white;
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















